/* Game Container Styles */
.game-container {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

/* Game Title Styles */
.game-title {
  font-size: 2.5em;
  text-shadow: 2px 2px 4px #ff0000;
  margin-bottom: 20px;
}

/* Game Description & Inventory Styles */
.game-description,
.game-inventory {
  text-shadow: 1px 1px 2px #00ff00;
  font-size: 1.2em;
  text-align: center;
  max-width: 600px;
}

/* Game Form Styles */
.game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Game Input Styles */
.game-input {
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #00ff00;
  padding: 10px;
  font-size: 1em;
  width: 300px;
  margin-bottom: 10px;
}

/* Shared Button Styles */
.game-command,
.game-reset {
  background-color: #222;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 10px 20px;
  cursor: pointer;
  text-shadow: 1px 1px 2px #00ff00;
  transition: background-color 0.3s, transform 0.3s;
}

.game-command:hover,
.game-reset:hover {
  background-color: #00ff00;
  color: #121212;
  transform: scale(1.05);
}

/* Specific Reset Button Styles */
.game-reset {
  margin-top: 10px;
  background-color: #ff0000;
  color: #121212;
  border: 1px solid #ff0000;
  text-shadow: 1px 1px 2px #ff0000;
}
