body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/** {
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: antiquewhite;
}*/

.container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 100vh; /* Assuming you want it to take up the full viewport height */
}

.header h1 {
  font-size: 4rem;
}

.header,
.footer {
  height: 10%; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.aside {
  width: 20%; /* Adjust as needed */
  display: flex;
  border-right: 5px solid white;
  flex-direction: column;
}

.article {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer {
  padding: 10px;
}

.game-form {
  display: flex;
  width: 100%;
  align-items: center;
}

.game-input {
  flex: 1;
  height: 50px;
  font-size: 18px;
  caret-color: blue;
  caret-width: thick;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.game-coms {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 500px;
  overflow: hidden;
  align-items: center;
}

.prompt {
  font-size: 24px;
  transition: all 0.3s ease;
}

.button-container {
  display: flex;
}

.game-command,
.game-reset {
  height: 50px;
  margin-left: 10px;
}

.game-description,
.game-inventory {
  font-size: 2rem;
  padding: 0 1rem 0 1rem;
}
